{% extends "main.html" %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="py-4">
                    <button type="submit" class="btn btn-outline-success">List</button>
                    <a class="btn btn-outline-dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
<section>


{% endblock content %}