{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-success-subtle">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">bid4it</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if not user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'dashboard' %}">All Products</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'list-item' %}">List Item</a></li>
                        <li><a class="dropdown-item" href="{% url 'dashboard' %}">All Products</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarProfileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'images/pedro.jpg' %}" alt="Avatar" class="rounded-circle" width="30" height="30">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarProfileDropdown">
                        <li><span class="dropdown-item">{{ user.username }}</span></li>
                        <hr>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'user-bids' user.id %}">My Bids</a></li>
                        <li><a class="dropdown-item" href="{% url 'user-listings' user.id %}">My Listings</a></li>
                        <li>
                            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-outline-dark" href="{% url 'login' %}">Login</a>
                    {% if not user.is_authenticated %}
                    <a class="btn btn-outline-dark" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
